:root,
:root[data-theme="dark"] {
    --primary-bg: #161616; /*Bg = background */
    --primary-color:#dadada ; /* Texto */
    --hover-menu: #772c2c ; /* Cor da fonte ao passar o mouse */
    --icone-color: #772c2c ;
    --icone-tema: #772c2c ;
}

:root[data-theme="light"] {
    --primary-bg: #dadada; 
    --primary-color:#161616 ; 
}

body{
    background-color: var(--primary-bg); /* Cor do fundo */
    color: var(--primary-color) ; /*Cor do fundo */
    font-family: Verdana, Geneva, Tahoma, sans-serif ;/* Fonte*/    font-size: 15px ; /* Tamanho da fonte */
}

html[data-theme="light"] .logo {
    filter: invert(1);

}

a {
    text-decoration: none; /* Tirar o underline */
    color: var(--primary-color) ; 
}

a:hover { /* Cor da fonte ao passar o mouse */
    color: #772c2c
}

i {
    color: var(--icone-color)
}

b{
    font-weight: 400;
}


h1{
   font-size: 2.5rem;
   font-weight: 200;
}

h2{

}

h3{

}

p, span {
   font-size: 1rem;
}

p{
  text-align: justify;
}



/* Reset CSS */

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    list-style: none;
}

/* Fim do reset */

/* Header */
#header {
    display: flex ;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
    padding: 0,5rem 2,5rem ;
    z-index: 2;
    background: var(--primary-bg);

}

/* .header-logo  .logo */
.logo {  /* img */
    width: 3.25rem; /* Comprimento */
    height: 3.25rem; /* Altura */
}

.header-toggle {
    display: flex ;
    justify-content: flex-end ; 
}

#toggleTheme {
   color: #772c2c;
   font-size: 2rem ;
   cursor: pointer;

}

.menu { /* UL */
    display:flex;
    align-items: center;
    background: var(--primary-bg) ;
    gap: 1rem ;
}

.menu-item {
    width: 100% ;
}

/* .menu-link {
    display: flex;
} */

.header-nav {
    display: none;
}

/* Menu Mobile */
.menu-mobile {
    width: 100vw; /*V W = Viewport Width */
    position: fixed;
    bottom: 0 ;
    justify-content: space-between;
    border-top: 1px solid #772c2c;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.1rem;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link.hover .menu-icon, 
.menu-link:hover .menu-text {
    color: var(--primary-color); /* cor de lind */
}

.menu-icon, .menu-text{
    color: var(--hover-menu);
    font-weight: 600;
}

.menu-icon{
    font-size: 1.5rem;
}

.menu-text{
    font-size: .75rem;
    text-transform: uppercase;
}

.menu-social {
    gap: 2rem;
}

.menu-social .menu-icon {
    color: #772c2c;

}

.menu-social .menu-icon:hover {
    color:var(--primary-color);

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background: transparent; /*deixar transparent */
    border-radius: 3rem; /* botão arredondado */
    color: var(--primary-color);
    border: none;
    padding: .5rem 1.5rem;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .5s;
}

 .btn span, .btn i {
    font-size: 1.5rem;
    text-transform: uppercase;
 }

.btn-primary span {
    color: var(--primary-color);
}

.btn-primary {
    border: 1px solid var(--hover-menu);
}

/* Main */
#home {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
 
.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

#home, .projects, .services, .contacts {
    /*padding: 5rem 10rem;*/
   padding: 2.5rem 1rem;
}





/* Responsividade Responsivo */

@Media (min-width: 768px) {
    #header {
        position: fixed;
        padding: 1rem 6rem;
    }
    .nav-mobile {
        display: none;
    }
    .header-nav {
        display: flex;
    }
    .header-nav,
    .header-toggle {
        min-width: 30%;
    }

    h1{
        font-size: 5rem;
    }

    h2{


    }

    h3{


    }
    #home, .projects, .services, .contacts {
        padding: 8rem 6rem 4rem 6rem;
    }







}